.main{
	width:100%;
	background:linear-gradient(to bottom,#6cfec6,#43d6cd);
	padding:20% 10% 15%;
	
}
	
	.main__title{
		font-size:50px;
		color:#fff;
		font-weight:lighter;
		text-align:center;
		margin-bottom:70px;
	}
	.main__button{
		width:150px;
		margin: 0 auto;
	}
@media screen and (max-width: 1023px){
	.main__title{
		height:100px;
	}
}
@media screen and (max-width: 449px){
	.main{
		padding-top:130px;

	}
	.main__title{
		height:250px;
		margin-bottom:20px;
	}

}
